# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/inspectionProfiles/
.idea/workspace.xml
service/src/main/java/com/ih2home/hardware_service/service/aop/
service/src/main/java/com/ih2home/hardware_service/service/base/
