<!-- 级别从高到低 OFF 、 FATAL 、 ERROR 、 WARN 、 INFO 、 DEBUG 、 TRACE 、 ALL -->
<!-- 日志输出规则 根据当前ROOT 级别，日志输出时，级别高于root默认的级别时 会输出 -->
<!-- 以下 每个配置的 filter 是过滤掉输出文件里面，会出现高级别文件，依然出现低级别的日志信息，通过filter 过滤只记录本级别的日志 -->
<!-- scan 当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。 -->
<!-- scanPeriod 设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。 -->
<!-- debug 当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 动态日志级别 -->
    <jmxConfigurator/>
    <!-- 定义日志文件 输出位置 -->
    <!--<property name="log_dir" value="C:/test" />-->
    <property name="log_dir" value="/app/logs/peony"/>

    <!-- ConsoleAppender 控制台输出日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>
                <!-- 设置日志输出格式 -->
                %highlight{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="peony" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}_peony.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="hardware_service" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}_hardware_service.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="hardware_server" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}_hardware_server.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="dao" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}_dao_sql.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="http" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}_http.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- root级别 DEBUG -->
    <root>
        <!-- 打印debug级别日志及以上级别日志 -->
        <level value="DEBUG"/>
        <!-- 控制台输出 -->
        <appender-ref ref="console"/>
    </root>

    <logger name="com.ih2ome.peony" level="INFO" additivity="false">
        <appender-ref ref="peony"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.ih2ome.hardware_service" level="INFO" additivity="false">
        <appender-ref ref="hardware_service"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.ih2ome.hardware_server" level="INFO" additivity="false">
        <appender-ref ref="hardware_server"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.ih2ome.hardware_service.service.dao" level="DEBUG" additivity="false">
        <appender-ref ref="dao"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.apache.http" level="DEBUG" additivity="false">
        <appender-ref ref="http"/>
        <appender-ref ref="console"/>
    </logger>

</configuration>