<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ih2ome.watermeter.dao.GatewayBindMapper">
    <!-- 数据库表名 -->
    <sql id="smart_watermeter">narcissus.smart_watermeter</sql>
    <sql id="smart_gateway_bind">narcissus.smart_gateway_bind</sql>
    <sql id="smart_gateway">narcissus.smart_gateway</sql>
    <sql id="smart_watermeter_record">narcissus.smart_watermeter_record</sql>
    <sql id="smart_exception">narcissus.smart_mistake</sql>
    <sql id="house">caspain_test.house</sql>
    <sql id="room">caspain_test.room</sql>
    <sql id="apartment">volga_test.apartment</sql>
    <sql id="floor">volga_test.floor</sql>
    <sql id="jzroom">volga_test.room</sql>

<!--删 -->
    <!--删除网关绑定by水表id-->
    <delete id="deleteGatewayBindByWatermeterId" parameterType="int">
        DELETE FROM <include refid="smart_gateway_bind"/> WHERE smart_id=#{watermeterId}
    </delete>

</mapper>