<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ih2ome.hardware_service.service.dao.GatewayMapper">
    <!-- 数据库表名 -->
    <sql id="smart_watermeter">`narcissus_test`.smart_watermeter</sql>
    <sql id="smart_gateway_bind">`narcissus_test`.smart_gateway_bind</sql>
    <sql id="smart_gateway">`narcissus_test`.smart_gateway</sql>
    <sql id="smart_watermeter_record">`narcissus_test`.smart_watermeter_record</sql>
    <sql id="smart_exception">`narcissus_test`.smart_mistake_info</sql>
    <sql id="house">`caspain_test`.house</sql>
    <sql id="room">`caspain_test`.room</sql>
    <sql id="apartment">`volga_test`.apartment</sql>
    <sql id="floor">`volga_test`.floor</sql>
    <sql id="jzroom">`volga_test`.room</sql>
    <sql id="room_contract">`volga_test`.room_contract</sql>
    <sql id="area">`volga_test`.area</sql>
    <sql id="auth_user">`caspain_test`.auth_user</sql>

<!-- 增  -->
    <!-- 添加网关 -->
    <insert id="insertSmartGateway" parameterType="com.ih2ome.sunflower.entity.narcissus.SmartGateway">
        insert into <include refid="smart_gateway" />(created_at,created_by,updated_at,updated_by,deleted_at,deleted_by,sn,uuid,model_name,`name`,install_time,install_name,
        install_mobile,brand,operator,onoff_status,remark,house_catalog,apartment_id,floor,house_id,room_id)
        values(#{createdAt},#{createdBy},#{updatedAt},#{updatedBy},#{deletedAt},#{deletedBy},#{sn},#{uuid},#{modelName},#{name},#{installTime},#{installName},
        #{installMobile},#{brand},#{operator},#{onoffStatus},#{remark},#{houseCatalog},#{apartmentId},#{floor},#{houseId},#{roomId})
    </insert>

    <!-- 添加网关异常 -->
    <insert id="addSmartMistakeInfo" parameterType="com.ih2ome.sunflower.entity.narcissus.SmartMistakeInfo">
        insert into <include refid="smart_exception" />(created_at,smart_device_type,uuid,sn,exception_type)
        values(#{createdAt},#{smartDeviceType},#{uuid},#{sn},#{exceptionType})
    </insert>
<!-- 改 -->
    <!-- 更新网关uuid -->
    <update id="updateGatewayUuid" parameterType="String" >
        UPDATE <include refid="smart_gateway" /> SET uuid = #{uuid},brand=#{manufactory},updated_at=#{time} WHERE uuid = #{old_uuid};
    </update>

    <!-- 更新网关在线状态by-->
    <update id="updataGatewayOnoffStatusByUuid"  >
        UPDATE <include refid="smart_gateway" /> SET onoff_status = #{code} WHERE uuid = #{uuid};
    </update>

    <!-- 更新网关 -->
    <update id="updataSmartGateway" parameterType="com.ih2ome.sunflower.entity.narcissus.SmartGateway">
        update  <include refid="smart_gateway" /> SET created_at=#{createdAt},created_by=#{createdBy},updated_at=#{updatedAt},updated_by=#{updatedBy},deleted_at=#{deletedAt},
        deleted_by=#{deletedBy},sn=#{sn},model_name=#{modelName},`name`=#{name},install_time=#{installTime},install_name=#{installName},
        install_mobile=#{installMobile},brand=#{brand},operator=#{operator},onoff_status=#{onoffStatus},remark=#{remark},house_catalog=#{houseCatalog},apartment_id=#{apartmentId},
        floor=#{floor},house_id=#{houseId},room_id=#{roomId}
        WHERE uuid=#{uuid}
    </update>
<!--查-->
    <!-- 查询网关idbyuuid -->
    <select id="selectGatewayIdByUuid" parameterType="String" resultType="java.lang.Integer">
        SELECT smart_gateway.smart_gateway_id FROM <include refid="smart_gateway" />  smart_gateway WHERE smart_gateway.uuid = #{id};
    </select>
</mapper>