<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ih2ome.hardware_service.service.dao.SynchronousHomeMapper">
    <!-- 数据库表名 -->
    <sql id="smart_watermeter">narcissus.smart_watermeter</sql>
    <sql id="smart_gateway_bind">narcissus.smart_gateway_bind</sql>
    <sql id="smart_gateway">narcissus.smart_gateway</sql>
    <sql id="watermeter_record">narcissus.smart_watermeter_record</sql>
    <sql id="smart_mistake">narcissus.smart_mistake</sql>
    <sql id="house">caspain_test.house</sql>
    <sql id="room">caspain_test.room</sql>
    <sql id="apartment">volga_test.apartment</sql>
    <sql id="floor">volga_test.floor</sql>
    <sql id="jzroom">volga_test.room</sql>

    <!--配置一个resultMap -->
    <resultMap type="com.ih2ome.hardware_service.service.vo.ApartmentVO" id="apartmentResultMap" autoMapping="true">
        <id column="id" property="id" />

        <collection property="floorVOS" javaType="List"
                    ofType="com.ih2ome.hardware_service.service.vo.FloorVO" autoMapping="true">
            <id column="floor_id" property="floorId" />
        </collection>
    </resultMap>

    <!-- 增  -->
    <!-- 添加抄表记录 -->
    <!-- 改 -->
    <!-- 更新房源为已同步byApartmentId -->
    <update id="updateHomeSyncByApartmentId" >
        UPDATE <include refid="apartment" /> SET synchronous = #{homeSync} WHERE id = #{apartmentId};
    </update>

    <!-- 更新集中式room为已同步byApartmentId -->
    <update id="updataRoomSyncByRoomId"  >
        UPDATE <include refid="jzroom" /> SET synchronous=#{roomSync} WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
            #{item.room_id}
        </foreach>
    </update>

    <!-- 更新集中式floor为已同步byfloorId -->
    <update id="updataFloorSyncByFloorId" >
        UPDATE <include refid="floor" /> SET synchronous=#{homeSync} WHERE id = #{floorId};
    </update>

    <!-- 更新集中式floor为已同步byfloorId -->
    <update id="updataFloorSyncByFloorIds" >
        UPDATE <include refid="floor" /> SET synchronous=#{floorSync} WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
            #{item.floor_id}
        </foreach>
    </update>

    <!-- 更新分散式房源为已同步byhouseId -->
    <update id="updateHouseSyncByHouseId" >
        UPDATE <include refid="house" /> SET synchronous=#{homeSync} WHERE id = #{houseId}
    </update>

    <!-- 更新集中式room为已同步byApartmentId -->
    <update id="updataHmRoomSyncByRoomId"  >
        UPDATE <include refid="room" /> SET synchronous=#{roomSync} WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
            #{item.room_id}
        </foreach>
    </update>

    <!--查-->
    <!--查询房源信息byApartmentid-->
    <select id="findHouseByApartmentId" parameterType="int" resultType="com.ih2ome.peony.watermeterInterface.vo.AddHomeVo">
        SELECT apartment.city,apartment.block AS zone,(apartment.address + apartment.area) AS location,
        apartment.area AS block,apartment.id AS home_id,apartment.area AS home_name,apartment.remark AS description
        FROM <include refid="apartment"/> apartment WHERE apartment.id = #{id}
    </select>

    <!--查询room信息byApartmentId-->
    <select id="findRoomByFloorId" parameterType="int" resultType="com.ih2ome.hardware_service.service.vo.AddRoomVO">
        SELECT jzroom.id AS room_id,jzroom.name AS room_name,jzroom.room_desc AS room_description
        FROM <include refid="jzroom"/> jzroom WHERE jzroom.floor_id = #{id}
    </select>
    <!--查询房源信息byhouseid-->
    <select id="findHouseByHouseId" parameterType="int" resultType="com.ih2ome.peony.watermeterInterface.vo.AddHomeVo">
        SELECT house.city,house.block AS zone,(house.address + house.area +house.building_num+house.unit_num+house.floor_num +house.house_num) AS location,
        house.area AS block,house.id AS home_id,house.area AS home_name,house.remark AS description
        FROM <include refid="house"/> house WHERE house.id = #{id}
    </select>

    <!--查询room信息byhouseid-->
    <select id="findRoomByHouseId" parameterType="int" resultType="com.ih2ome.hardware_service.service.vo.AddRoomVO">
        SELECT room.id AS room_id,room.name AS room_name,room.room_desc AS room_description
        FROM <include refid="room"/> room WHERE room.house_id = #{id}
    </select>

    <!--查询room信息byApartmentId-->
    <select id="findRoomByApartmentId" parameterType="int" resultType="com.ih2ome.hardware_service.service.vo.AddRoomVO">
        SELECT jzroom.id AS room_id,jzroom.name AS room_name,jzroom.room_desc AS room_description
        FROM <include refid="jzroom"/> jzroom WHERE jzroom.apartment_id = #{id}
    </select>

    <!--查询floorIdByroomId-->
    <select id="findFloorIdByRoomId" parameterType="int" resultType="java.lang.Integer">
        SELECT jzroom.floor_id
        FROM <include refid="jzroom"/> jzroom WHERE jzroom.id = #{id}
    </select>

    <!--查询集中式房源同步信息byUserid-->
    <select id="findApartmentIsSynchronousedByUserId" parameterType="int" resultType="com.ih2ome.hardware_service.service.vo.HomeSyncVO">
        SELECT id,'name',synchronous
        FROM <include refid="apartment"/>  WHERE created_by = #{userId}
    </select>

    <!--查询分散式式房源同步信息byUserid-->
    <select id="findHouseIsSynchronousedByUserId" parameterType="int" resultType="com.ih2ome.hardware_service.service.vo.HomeSyncVO">
        SELECT id,'name',synchronous
        FROM <include refid="house"/>  WHERE created_by = #{userId}
    </select>

    <!--查询楼层idsByApartmentId-->
    <select id="findFloorIdsByApartmentId" parameterType="int" resultType="java.lang.Integer">
        SELECT id FROM <include refid="floor"/>  WHERE apartment_id = #{apartmentId}
    </select>

    <!--查询分散式用户房源by用户id-->
    <select id="findHouseByUserId" parameterType="int" resultType="com.ih2ome.hardware_service.service.vo.HouseVO">
        SELECT h.id,h.area,h.building_num,h.house_num,h.synchronous FROM <include refid="house"/> h WHERE h.created_by_id= #{id}
    </select>
</mapper>