<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ih2ome.hardware_service.service.dao.WatermeterRecordMapper">
    <!-- 添加抄表记录 -->
    <insert id="insertWatermeterRecord" parameterType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeterRecord">
        insert into `narcissus_test`.smart_watermeter_record(device_amount,smart_watermeter_id)
        values(#{deviceAmount},#{smartWatermeterId})
    </insert>
</mapper>