<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ih2ome.hardware_service.service.dao.WatermeterMapper">
    <!-- 数据库表名 -->
    <sql id="smart_watermeter">`narcissus_test`.smart_watermeter</sql>
    <sql id="smart_gateway_bind">`narcissus_test`.smart_gateway_bind</sql>
    <sql id="smart_gateway">`narcissus_test`.smart_gateway</sql>
    <sql id="smart_watermeter_record">`narcissus_test`.smart_watermeter_record</sql>
    <sql id="smart_exception">`narcissus_test`.smart_mistake_info</sql>
    <sql id="house">`caspain_test`.house</sql>
    <sql id="room">`caspain_test`.room</sql>
    <sql id="apartment">`volga_test`.apartment</sql>
    <sql id="floor">`volga_test`.floor</sql>
    <sql id="jzroom">`volga_test`.room</sql>
    <sql id="room_contract">`volga_test`.room_contract</sql>
    <sql id="area">`volga_test`.area</sql>
    <sql id="auth_user">`caspain_test`.auth_user</sql>

    <!--配置resultMap -->
    <!--分散式水表列表VO-->
    <resultMap type="com.ih2ome.sunflower.vo.pageVo.watermeter.HMWatermeterListVO" id="hmWatermeterListResultMap" autoMapping="true">
        <id column="room_id" property="roomId" />

        <collection property="watermeterDetailVOS" javaType="List"
                    ofType="com.ih2ome.sunflower.vo.pageVo.watermeter.WatermeterDetailVO" autoMapping="true">
            <id column="smart_watermeter_id" property="smartWatermeterId" />
        </collection>
    </resultMap>

    <!--集中式水表列表VO-->
    <resultMap type="com.ih2ome.sunflower.vo.pageVo.watermeter.JZWatermeterDetailVO" id="jzWatermeterListResultMap" autoMapping="true">
        <id column="room_id" property="roomId" />

        <collection property="watermeterDetailVOS" javaType="List"
                    ofType="com.ih2ome.sunflower.vo.pageVo.watermeter.WatermeterDetailVO" autoMapping="true">
            <id column="smart_watermeter_id" property="smartWatermeterId" />
        </collection>
    </resultMap>

<!--增 -->

    <!--添加水表-->
    <insert id="addSmartWatermeter" parameterType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeter" >
        insert into <include refid="smart_watermeter" />(created_at,created_by,updated_at,updated_by,deleted_at,deleted_by,apartment_id,floor_id,house_id,room_id,house_catalog,meter_type,
        uuid,onoff_status,price,meter_amount,last_amount,meter_updated_at,manufactory)
        values(#{createdAt},#{createdBy},#{updatedAt},#{updatedBy},#{deletedAt},#{deletedBy},#{apartmentId},#{floorId},#{houseId},#{roomId},#{houseCatalog},#{meterType},
        #{uuid},#{onoffStatus},#{price},#{meterAmount},#{lastAmount},#{meterUpdatedAt},#{manufactory})
    </insert>
    <!--添加水表-->
    <insert id="saveWaterDevice" parameterType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeter" >
        INSERT INTO `narcissus_test`.`smart_device_v2`
        (`smart_device_ID`, `provider_code`, `threeID`, `smart_device_type`, `name`, `brand`, `connection_status_update_time`,
        `connection_status`, `work_status`, `created_at`, `created_by`, `updated_at`, `updated_by`, `deleted_at`, `deleted_by`,
         `house_catalog`, `apartment_ID`, `floor_ID`, `house_ID`, `room_ID`, `public_zone_ID`, `manage_status`)
          VALUES (#{smartWatermeterId}, #{manufactory}, #{uuid}, #{meterType}, 'shuidi', 'dding', now(), #{onoffStatus}, NULL,
           now(), #{createdBy}, NULL, NULL, NULL, NULL, #{houseCatalog}, NULL, NULL, NULL, #{roomId}, NULL, '0');
    </insert>
    <!--添加水表-->
    <insert id="addSmartGatewayBind" parameterType="com.ih2ome.sunflower.entity.narcissus.SmartGatewayBind" >
        insert into <include refid="smart_gateway_bind" />(smart_gateway_id,smart_device_type,smart_id)
        values(#{smartGatewayId},#{smartDeviceType},#{smartId})
    </insert>



<!-- 改 -->

    <!--改水费单价-->
    <update id="updataWaterPrice" parameterType="int" >
        UPDATE <include refid="smart_watermeter" /> SET price = #{price} WHERE smart_watermeter_id = #{watermeterId};
    </update>

    <!--改房间水费单价-->
    <update id="updateRoomPrice" >
        UPDATE narcissus_test.smart_watermeter w
        JOIN narcissus_test.smart_device_v2 d ON w.smart_watermeter_id = d.smart_device_ID
        SET w.price = #{price}
        WHERE d.room_ID = #{roomId} AND w.meter_type = #{meterType}
    </update>

    <!--更新水表抄表读数-->
    <update id="updataWaterLastAmount"  >
        UPDATE <include refid="smart_watermeter" /> SET last_amount=#{amount},meter_updated_at= NOW() WHERE uuid = #{uuid};
    </update>

    <!-- 更新水表在线状态byUUid-->
    <update id="updataWatermerterOnoffStatusByUuid" >
        UPDATE narcissus_test.smart_device_v2 SET connection_status = #{code} WHERE threeID = #{uuid};
    </update>

    <!-- 更新水表在线状态byUUid-->
    <update id="updataWatermeterMeterAmount" >
        UPDATE <include refid="smart_watermeter" /> SET meter_amount = #{meterAmount} WHERE smart_watermeter_id = #{watermeterId};
    </update>

<!-- 查 -->

    <!-- 分散式水表 -->
    <select id="findWatermetersByUserId" parameterType="int" resultMap="hmWatermeterListResultMap" >
        SELECT r.id AS room_id,gb.smart_gateway_id,w.smart_watermeter_id,w.uuid,r.name AS room_name,CONCAT(h.area,h.building_num,"栋",h.unit_num,"单元",h.house_num) AS house_name,w.meter_type,w.created_at,w.last_amount,w.meter_amount,(w.price/100) AS price,w.onoff_status,g.sn
        FROM
        <include refid="smart_watermeter" /> AS w
        INNER JOIN
        <include refid="smart_gateway_bind" /> AS gb
        ON w.smart_watermeter_id = gb.smart_id
        INNER JOIN
        <include refid="smart_gateway" /> AS g
        ON g.smart_gateway_id = gb.smart_gateway_id
        INNER JOIN
        <include refid="house" /> AS h
        ON w.house_id= h.id
        INNER JOIN
        <include refid="room" /> AS r
        ON  w.room_id= r.id AND h.id=r.house_id AND r.created_by_id = #{id} ;
    </select>

    <!-- 查询集中式网关by网关id -->
    <select id="findGatewaybySmartGatewayId" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.WatermeterGatewayDetailVO">
        SELECT sdv.connection_status connectionStatus,sgv.description ,sgv.smart_gateway_ID smartGatewayId,sdv.threeID uuid,a.name houseName,a.address,sgv.install_time createTime, sdv.connection_status_update_time updateTime,sdv.provider_code brand
        FROM narcissus_test.smart_device_v2 sdv
        LEFT JOIN narcissus_test.public_zone pz
        ON pz.public_zone_ID=sdv.public_zone_ID
        LEFT JOIN `volga_test`.apartment a
        ON pz.parent_ID=a.id
        LEFT JOIN narcissus_test.smart_gateway_v2 sgv
        ON sgv.smart_gateway_ID=sdv.smart_device_ID
        WHERE sdv.smart_device_ID=#{id};

    </select>

    <!-- 查询分散式网关by网关id -->
    <select id="findhmGatewaybySmartGatewayId" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.WatermeterGatewayDetailVO">
        SELECT g.smart_gateway_id,g.uuid,CONCAT(h.area,h.building_num,"栋",h.unit_num,"单元",h.house_num) AS house_name,g.room_id,g.updated_at,g.created_at,g.brand FROM <include refid="smart_gateway" />  g LEFT JOIN <include refid="house" /> AS h
        ON g.house_id =h.id WHERE smart_gateway_id =  #{id};
    </select>

    <!--查询分散式水表listby网关id-->
    <select id="findWatermeterByGatewayId" parameterType="int" resultMap="hmWatermeterListResultMap">
        SELECT gb.smart_gateway_id,w.smart_watermeter_id,r.name AS room_name,h.floor_num,CONCAT(h.area,h.building_num,"栋",h.unit_num,"单元",h.house_num) AS house_name,w.meter_type,w.created_at,w.last_amount,w.meter_amount,(w.price/100) AS price,w.onoff_status
        FROM
        <include refid="smart_watermeter" /> AS w
        INNER JOIN
        <include refid="smart_gateway_bind" /> AS gb
        ON w.smart_watermeter_id = gb.smart_id AND gb.smart_gateway_id = #{id}
        INNER JOIN
        <include refid="house" /> AS h
        ON w.house_id= h.id
        INNER JOIN
        <include refid="room" /> AS r
        ON  w.room_id= r.id AND h.id=r.house_id;
    </select>

    <!--查询集中式水表listby网关id-->
    <select id="selectJzWatermetersByGatewayId" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.JZWaterMeterVO">
        SELECT r.name,sdv.`name` waterType,sdv.threeID uuid,sdv.connection_status connectionStatus
        FROM narcissus_test.smart_gateway_bind_v2 sgbv
        LEFT JOIN narcissus_test.smart_device_v2 sdv
        ON sgbv.smart_device_ID=sdv.smart_device_ID
        LEFT JOIN `volga_test`.room r
        ON r.id=sdv.room_ID
        WHERE sgbv.smart_gateway_ID=#{smartGatewayId} and sdv.manage_status=0
    </select>

    <!--查询集中式水表列表by楼层id-->
    <select id="findWatermetersByFloorId" parameterType="int" resultMap="jzWatermeterListResultMap" >
        SELECT r.id AS room_id,w.uuid,a.name AS house_name,gb.smart_gateway_id,w.smart_watermeter_id,r.name AS room_name,w.meter_type,w.created_at,w.last_amount,w.meter_amount,(w.price/100) AS price,w.onoff_status,g.sn
        FROM
        <include refid="smart_watermeter" /> AS w
        INNER JOIN
        <include refid="smart_gateway_bind" /> AS gb
        ON w.smart_watermeter_id = gb.smart_id
        INNER JOIN
        <include refid="smart_gateway" /> AS g
        ON g.smart_gateway_id = gb.smart_gateway_id
        INNER JOIN
        <include refid="floor" /> AS f
        ON w.floor_id= f.id
        LEFT JOIN
        <include refid="apartment" /> AS a
        ON  w.apartment_id= a.id
        INNER JOIN
        <include refid="jzroom" /> AS r
        ON  w.room_id= r.id AND f.id=r.floor_id AND f.id = #{id} ;
    </select>

    <!--查询集中式公寓下的网关by公寓id-->
    <select id="findGatewayByApartmentId" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.JZWatermeterGatewayVO" >
        SELECT sdv.smart_device_ID smartGatewayId,sdv.threeID uuid,a.name houseName,sdv.connection_status onoffStatus,COUNT(sdv.smart_device_ID) watermeterNum,COUNT(sdv.connection_status=1) watermeterOnLineNum
        FROM narcissus_test.smart_device_v2 sdv
        LEFT JOIN narcissus_test.public_zone pz
        on pz.public_zone_ID=sdv.public_zone_ID
        LEFT JOIN `volga_test`.apartment a
        ON a.id=pz.parent_ID
        LEFT JOIN narcissus_test.smart_gateway_bind_v2 sgbv
        ON sgbv.smart_gateway_ID=sdv.smart_device_ID
        WHERE a.id= #{id}
        AND sdv.smart_device_type=5
        AND sdv.manage_status=0
    </select>


    <select id="findCount" parameterType="String" resultType="String">
        SELECT sgbv.smart_device_ID
        FROM narcissus.smart_device_v2 sdv
        LEFT JOIN narcissus.public_zone pz
        on pz.public_zone_ID=sdv.public_zone_ID
        LEFT JOIN narcissus.smart_gateway_bind_v2 sgbv
        ON sgbv.smart_gateway_ID=sdv.smart_device_ID
        WHERE sgbv.smart_gateway_ID=#{gateWayId}
        AND sdv.smart_device_type=5
        AND sdv.manage_status=0;
    </select>


    <select id="findStatus" parameterType="String" resultType="String">
        SELECT  sdv.connection_status FROM narcissus.smart_device_v2 sdv WHERE sdv.manage_status=0 AND sdv.smart_device_ID=#{id}
    </select>
    <!--查询水表抄表记录by水表id-->
    <select id="findWatermeterRecordByWatermeterId" parameterType="int" resultType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeterRecord">
        SELECT wr.created_at,wr.device_amount,wr.smart_watermeter_id FROM <include refid="smart_watermeter_record"/> wr WHERE smart_watermeter_id = #{id} ORDER BY created_at DESC
    </select>

    <!--查询筛选水表抄表记录by起止时间-->
    <select id="findWatermeterRecordByWatermeterIdAndTime"  resultType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeterRecord">
       SELECT wr.created_at,wr.device_amount,wr.smart_watermeter_id FROM <include refid="smart_watermeter_record"/> wr WHERE smart_watermeter_id = #{id} AND created_at between ADDDATE(#{startTime},-1) and #{endTime} ORDER BY created_at DESC
    </select>

    <!--水表异常记录by水表id-->
    <select id="findWatermeterExceptionByWaterId" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.ExceptionVO">
        SELECT smi.created_at createdAt,smi.exception_type exceptionType FROM narcissus.smart_device_v2 sdv
            LEFT JOIN narcissus.smart_mistake_info smi
            ON smi.uuid=sdv.threeID
            WHERE sdv.smart_device_ID=#{watermeterId}
            AND smi.smart_device_type=5 GROUP BY smi.created_at DESC

    </select>

    <select id="findWaterOnLine" parameterType="String" resultType="String">
        SELECT COUNT(sdv.connection_status=1) FROM narcissus_test.smart_gateway_bind_v2 sgvb
LEFT JOIN narcissus_test.smart_device_v2 sdv
ON sgvb.smart_device_ID=sdv.smart_device_ID
WHERE sgvb.smart_gateway_ID=#{gateWayId} AND sdv.manage_status=0
    </select>

    <!--网关异常记录by网关id-->
    <select id="findWatermeterGatewayExceptionByGatewayId" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.ExceptionVO">
        SELECT smi.created_at createdAt,smi.exception_type exceptionType FROM narcissus.smart_device_v2 sdv
        LEFT JOIN narcissus.smart_mistake_info smi
        ON smi.uuid=sdv.threeID
        WHERE sdv.smart_device_ID=#{gatewayId}
        AND smi.smart_device_type=5 GROUP BY smi.created_at DESC
    </select>

    <!--查询水表抄表参数by水表id-->
    <select id="findWatermeterRecordParamsByWatermeterId" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.WatermeterRecordParamsVo">
        SELECT watermeter.uuid,watermeter.manufactory FROM <include refid="smart_watermeter"/> watermeter WHERE watermeter.smart_watermeter_id = #{id}
    </select>

    <!--查询floorIdByroomId-->
    <select id="selectHouseCreatedByByHouseId" resultType="java.lang.Integer">
        SELECT house.created_by_id
        FROM <include refid="house"/> house WHERE house.id = #{id}
    </select>

    <!--查询floorIdByroomId-->
    <select id="selectApartmentCreatedByByApartmentId" resultType="java.lang.Integer">
        SELECT apartment.created_by
        FROM <include refid="apartment"/> apartment WHERE apartment.id = #{id}
    </select>

    <!-- 查询水表byuuid -->
    <select id="getWatermeterByUuId" parameterType="String" resultType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeter">
        SELECT w.* FROM narcissus_test.smart_watermeter w
        JOIN narcissus_test.smart_device_v2 d ON w.smart_watermeter_id = d.smart_device_ID
        WHERE w.uuid=#{uuid} AND d.manage_status = 0
        ORDER BY w.created_at DESC LIMIT 1
    </select>

    <select id="getWatermeterByDeviceId" parameterType="int" resultType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeter">
        SELECT * FROM <include refid="smart_watermeter"/>
        WHERE smart_watermeter_id=#{deviceId}
    </select>
    <!-- 查询水表读数by水表id -->
    <select id="findWatermeterAmountByWatermeterId" parameterType="int" resultType="java.lang.Integer">
        SELECT (last_amount-meter_amount) AS amount
        FROM <include refid="smart_watermeter"/> smart_watermeter WHERE smart_watermeter.smart_watermeter_id = #{watermenterId}
    </select>

    <!-- 查询水表所有的uuidAndManufactory -->
    <select id="selectWatermeterUuidAndManufactory" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.UuidAndManufactoryVO">
        SELECT uuid,manufactory FROM <include refid="smart_watermeter"/>
    </select>

    <!-- 查询最近一次抄表时间 -->
    <select id="selectWatermeterMeterUpdatedAt" parameterType="String" resultType="java.sql.Timestamp">
        SELECT meter_updated_at FROM <include refid="smart_watermeter"/>  WHERE uuid = #{uuid}
    </select>


    <!--查询分散式下的网关byUserid-->
    <select id="selectGatewaysByUserId" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.JZWatermeterGatewayVO" >
        SELECT g.smart_gateway_id,g.uuid, COUNT(DISTINCT gb.smart_id) AS watermeter_num,SUM(case w.onoff_status when 1 then 1 else 0 end) AS watermeter_onoff_num
        FROM <include refid="smart_gateway"/> AS g
        LEFT JOIN <include refid="smart_gateway_bind"/> AS gb
        ON g.smart_gateway_id=gb.smart_gateway_id
        LEFT JOIN <include refid="smart_watermeter"/> AS w
        ON w.smart_watermeter_id=gb.smart_id
        WHERE g.created_by = #{id} AND g.house_catalog = 1
        GROUP BY g.smart_gateway_id;
    </select>

    <!-- 查询水表在线状态byuuid -->
    <select id="selectWatermeterOnOffStatusByUuid" parameterType="String" resultType="java.lang.Integer">
        SELECT onoff_status FROM <include refid="smart_watermeter"/>  WHERE uuid = #{uuid}
    </select>

    <!-- 查询水表在线状态byuuid -->
    <select id="selectAllWatermeterIds" resultType="java.lang.Integer">
        SELECT smart_watermeter_id FROM <include refid="smart_watermeter"/>
    </select>

    <!-- 查询水表月初抄表记录 -->
    <select id="selectMeterAmountByWatermeterId" resultType="java.lang.Integer">
        SELECT device_amount FROM <include refid="smart_watermeter_record" /> WHERE TO_DAYS(created_at) =TO_DAYS(last_day(date_sub(now(),interval 1 month))) AND smart_watermeter_id = #{watermeterId}
    </select>

    <!-- 查询水表idBygatewayuuid -->
    <select id="selectWatermeterIdByGatewayUuid" resultType="java.lang.String">
        SELECT sgbv.smart_device_ID FROM narcissus.smart_device_v2 sdv
LEFT JOIN narcissus.smart_gateway_bind_v2 sgbv
ON sgbv.smart_gateway_ID=sdv.smart_device_ID
WHERE sdv.manage_status=0 AND sdv.smart_device_type=5
AND sdv.threeID=#{uuid}
  </select>

    <!--根据userId和第三方厂商 查询已绑定设备（包括网关）的集中式房源-->
    <select id="getApartmentListByUserId" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.HomeVO" >
        SELECT DISTINCT a.id,a.name, 'apartment' AS `type`
        FROM narcissus_test.smart_device_v2 d
          JOIN `volga_test`.room r ON d.room_ID = r.id
          JOIN `volga_test`.apartment a ON r.apartment_id = a.id
        WHERE d.created_by IN (#{userIds})
          AND d.room_ID > 0
          AND d.brand = #{brand}
          AND d.house_catalog = 0
          AND d.smart_device_type IN (2,5)
          AND d.manage_status = 0
        UNION
        SELECT DISTINCT a.id,a.name, 'apartment' AS `type`
        FROM narcissus_test.smart_device_v2 d
          JOIN narcissus_test.public_zone p ON d.public_zone_ID = p.public_zone_ID
          JOIN `volga_test`.apartment a ON a.id = p.parent_ID
        WHERE d.created_by IN (#{userIds})
          AND d.public_zone_ID > 0
          AND d.brand = #{brand}
          AND p.data_type = 1
          AND d.smart_device_type IN (2,5)
          AND d.manage_status = 0
    </select>

    <!--查询带水表数量的楼层信息 by 公寓Id-->
    <select id="getFloorWithWater" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.FloorVO">
        SELECT a.id,a.`name`,f.id AS floorId,f.`name` AS floorName,COUNT(d.smart_device_ID) AS watermeterNum,
        SUM( CASE d.connection_status WHEN 1 THEN 1 ELSE 0 END) AS watermeterOnLineNum
        FROM `volga_test`.apartment AS a
        LEFT JOIN `volga_test`.floor AS f ON f.apartment_id = a.id
        LEFT JOIN `volga_test`.room AS r ON r.floor_id = f.id
        LEFT JOIN narcissus_test.smart_device_v2 AS d ON d.room_ID = r.id AND d.smart_device_type = 2
        LEFT JOIN narcissus_test.smart_watermeter AS w ON w.smart_watermeter_id = d.smart_device_ID
        WHERE a.id = #{apartmentId} AND d.manage_status = 0
        GROUP BY f.id
    </select>

    <!--查询集中式房间水表列表 by 楼层Id-->
    <select id="getRoomWithWater" parameterType="int" resultMap="roomWithWaterMap" >
        SELECT r.id AS roomId,r.name AS roomName,a.balance/100 AS balance,d.smart_device_ID AS waterId,w.meter_type,w.meter_updated_at AS updateAt,w.last_amount-w.meter_amount AS currentAmount,d.connection_status AS onoff_status
        FROM `narcissus_test`.smart_device_v2 d
        LEFT JOIN `narcissus_test`.smart_watermeter w ON d.smart_device_ID = w.smart_watermeter_id
        LEFT JOIN `narcissus_test`.smart_watermeter_account a ON d.room_id = a.room_id AND d.house_catalog = a.house_catalog
        JOIN `volga_test`.room r ON r.id = d.room_ID
        JOIN `volga_test`.floor f ON f.id = r.floor_id
        WHERE f.id = #{floorId} AND d.smart_device_type = 2 AND d.manage_status = 0
    </select>

    <!--集中式水表列表VO-->
    <resultMap type="com.ih2ome.sunflower.vo.pageVo.watermeter.RoomSimpleVO" id="roomWithWaterMap" autoMapping="true">
        <id column="roomId" property="roomId" />
        <collection property="waterSimpleList" javaType="List"
                    ofType="com.ih2ome.sunflower.vo.pageVo.watermeter.WaterSimpleVO" autoMapping="true">
            <id column="waterId" property="waterId" />
        </collection>
    </resultMap>

    <!--查询房间下水表详情-->
    <select id="getWaterInRoom" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.WaterDetailVO">
        SELECT d.smart_device_ID AS waterId, d.threeID AS waterUuid,w.meter_type AS meterType, w.meter_updated_at AS updateAt,
        w.last_amount - w.meter_amount AS currentAmount,w.price/100 AS price,w.onoff_status,gb.smart_gateway_ID,g.uuid AS gatewayUuId
        FROM narcissus_test.smart_device_v2 d
        JOIN narcissus_test.smart_watermeter w ON d.smart_device_ID = w.smart_watermeter_id
        JOIN narcissus_test.smart_gateway_bind_v2 gb ON d.smart_device_ID = gb.smart_device_ID
        LEFT JOIN narcissus_test.smart_gateway_v2 g ON gb.smart_gateway_ID = g.smart_gateway_ID
        WHERE d.room_ID = #{roomId} AND d.manage_status = 0
    </select>

    <select id="getRoomDetail" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.RoomDetailVO" >
        SELECT r.`name` AS roomName, a.area AS apartmentName,
        rc.`status` AS contractStatus,
        rc.customer_name,rc.customer_phone,rc.start_time,a.balance/100 AS balance
        FROM `volga_test`.room r
        JOIN `volga_test`.apartment a ON r.apartment_id = a.id
        LEFT JOIN `volga_test`.room_contract rc ON rc.room_id = r.id AND rc.is_delete = 0
        LEFT JOIN `narcissus_test`.smart_watermeter_account a ON r.id = a.room_id AND a.house_catalog = 0
        WHERE r.id = #{roomId}
        ORDER BY start_time DESC LIMIT 1
    </select>

    <select id="getWatermeterById" parameterType="int" resultType="com.ih2ome.sunflower.vo.pageVo.watermeter.WatermeterVO">
        SELECT
          w.smart_watermeter_id,
          w.created_at,
          w.created_by,
          w.apartment_id,
          w.floor_id,
          w.house_id,
          w.room_id,
          w.house_catalog,
          w.meter_type,
          w.uuid,
          w.onoff_status,
          w.price,
          w.meter_amount,
          w.last_amount,
          w.meter_updated_at,
          w.manufactory
        FROM
          narcissus_test.smart_watermeter AS w
        WHERE
          w.smart_watermeter_id = #{waterId}
    </select>

    <select id="getRoomAmount" resultMap="roomAmountMap" >
        SELECT SUM(last_amount - meter_amount) AS used, d.room_id, d.house_catalog, w.meter_type,
        MAX(w.price) / 100 AS price,a.balance / 100 AS balance,w.updated_at, SUM(last_amount - meter_amount) * price / 100 AS amount
        FROM narcissus_test.smart_watermeter w
        JOIN narcissus_test.smart_device_v2 d ON w.smart_watermeter_id = d.smart_device_ID
        LEFT JOIN narcissus_test.smart_watermeter_account a ON a.room_id = d.room_ID AND a.house_catalog = d.house_catalog
        WHERE d.room_id = #{roomId} AND d.house_catalog = #{type}
        GROUP BY d.room_id, d.house_catalog, w.meter_type AND d.manage_status = 0
    </select>

    <resultMap type="com.ih2ome.sunflower.vo.pageVo.watermeter.RoomAccountVO" id="roomAmountMap" autoMapping="true">
        <id column="room_id" property="roomId" />
        <collection property="waterAccountList" javaType="List"
                    ofType="com.ih2ome.sunflower.vo.pageVo.watermeter.RoomWaterAccountVO" autoMapping="true">
            <id column="meter_type" property="meterType" />
        </collection>
    </resultMap>

    <select id="getSmartWatermeterAccount" resultType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeterAccount" >
        SELECT * FROM narcissus_test.smart_watermeter_account
        WHERE room_id = #{roomId} AND house_catalog = #{houseCatalog}
    </select>

    <insert id="addSmartWatermeterAccount" parameterType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeterAccount" >
        INSERT INTO narcissus_test.smart_watermeter_account(room_id,house_catalog,balance)
        VALUES(#{roomId},#{houseCatalog},#{balance})
    </insert>

    <update id="updateSmartWatermeterAccount" parameterType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeterAccount">
        UPDATE narcissus_test.smart_watermeter_account SET balance = #{balance}
        WHERE room_id = #{roomId} AND house_catalog = #{houseCatalog}
    </update>

    <select id="getSmartWatermeterAccountLog" resultType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeterAccount" >
        SELECT * FROM narcissus_test.smart_watermeter_account_log
        WHERE room_id = #{roomId} AND house_catalog = #{houseCatalog}
    </select>

    <insert id="addSmartWatermeterAccountLog" parameterType="com.ih2ome.sunflower.entity.narcissus.SmartWatermeterAccountLog" >
        INSERT INTO `narcissus_test`.`smart_watermeter_account_log` (`room_id`, `house_catalog`, `amount`, `balance_before`, `balance_after`,`action`, `action_id`, `pay_channel`)
		VALUES (#{roomId}, #{houseCatalog}, #{amount}, #{balanceBefore}, #{balanceAfter}, #{action}, #{actionId}, #{payChannel});
    </insert>

    <update id="makeWaterZero">
        UPDATE narcissus_test.smart_watermeter w
        JOIN narcissus_test.smart_device_v2 d ON w.smart_watermeter_id = d.smart_device_ID
        SET w.meter_amount = w.last_amount, w.updated_at = NOW()
        WHERE d.room_ID = #{roomId} AND d.house_catalog = #{houseCatalog}
    </update>

    <select id="findGateWay" parameterType="String" resultType="String">
        SELECT h2omeID FROM narcissus_test.smart_house_mapping shm WHERE shm.house_catalog=0 and shm.`status`=1 and shm.threeID=#{homeid}
    </select>
    
    <select id="getSmartDeviceV2" parameterType="long" resultType="com.ih2ome.sunflower.entity.narcissus.SmartDeviceV2">
        SELECT * FROM narcissus_test.smart_device_v2 WHERE smart_device_ID = #{deviceId} LIMIT 1
    </select>

    <select id="getSmartDeviceV2List" resultType="com.ih2ome.sunflower.entity.narcissus.SmartDeviceV2">
        SELECT * FROM narcissus_test.smart_device_v2 d
        WHERE d.created_by = #{userId} AND d.smart_device_type = 2 AND d.brand = #{brand} AND d.manage_status = 0
    </select>

    <select id="getAllSmartDeviceV2List" resultType="com.ih2ome.sunflower.entity.narcissus.SmartDeviceV2">
        SELECT * FROM narcissus_test.smart_device_v2 d
        WHERE d.manage_status = 0 AND d.smart_device_type = 2
    </select>
</mapper>